   <!-- Distribution Preview Section -->
<!-- Distribution Preview Section -->
<section id="distribution" class="">
  <div class="container text-center">
    <h2 class="fw-bold fs-1 mt-5">One Post, Everywhere</h2>
    <p class="text-muted fs-3">Widget • Google • Instagram • Facebook • X</p>

    <!-- Masonry grid -->
    <div class="row mt-5 justify-content-center">
      
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        {% include "app/partials/widget.html" %}
      </div>

      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        {% include "app/partials/google.html" %}
      </div>

      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        {% include "app/partials/instagram.html" %}
      </div>

      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        {% include "app/partials/facebook.html" %}
      </div>

      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        {% include "app/partials/x.html" %}
      </div>

    </div>
  </div>
</section>
