{% extends "app/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}

<div class="container col-lg-5 col-sm-10 col-md-10 my-5">
  <div id="dashboard" class="">
<div class="card shadow-sm border-0">
    <div class="card-header text-white text-center p-4" style="background-color: #f08000;">
          <h1>Effortlessly Share Your Daily Specials</h1>
    <p>Quickly publish eye-catching specials on your site without logins or setup.</p>
    </div>
    <div class="card-body p-0">

      <!-- HTMX form loader -->
      <section id="special-form-container"
               hx-get="{% url 'special_create' %}"
               hx-trigger="load"
               hx-target="#special-form-container"
               hx-swap="innerHTML"
               class="mb-4">
        <!-- form will load here -->
      </section>



    </div>
  </div>
</div>
{% endblock %}

