Django
cloudinary
django-anymail[brevo]
django-cloudinary-storage
django-cors-headers # for handling CORS in development
django-crontab
django-extensions  # for development utilities
gunicorn                # for production WSGI
openai
python-dotenv  # to manage env vars locally
requests
stripe
whitenoise
celery
