Django
cloudinary
django-anymail[brevo]
django-cloudinary-storage
django-cors-headers # for handling CORS in development
django-crontab
django-extensions  # for development utilities
gunicorn                # for production WSGI
openai
replicate
outscraper
python-dotenv  # to manage env vars locally
requests
stripe
whitenoise
pypdf
django-q2
celery
cloudinary
Django
django-anymail[brevo]
django-cloudinary-storage
django-cors-headers
django-crontab
django-extensions
gunicorn
openai
outscraper
python-dotenv
requests
stripe
whitenoise
