{# templates/specials/_special_widget.html #}
<div class="appertivo-widget-content">
  <div class="appertivo-image-container">
    {% if special.image %}
      <img class="appertivo-special-image" src="{{ special.image }}" alt="{{ special.title }}">
    {% endif %}
  </div>
  <p>
    <span class="appertivo-special-title">{{ special.title }}</span><br />
    <span class="appertivo-special-description">{{ special.description }}</span>
  </p>

  {% if show_email_form %}
    <form id="appertivo-email-form">
      <input type="email" id="appertivo-email-input" placeholder="Get special offers via email" required />
      <button type="submit">Subscribe</button>
    </form>
  {% endif %}

  <div class="appertivo-cta-buttons">
    {% for action in special.cta %}
      {% if action.type == 'order' %}
        <a href="{{ action.url }}" class="appertivo-cta-button order" target="_blank">Order Now</a>
      {% elif action.type == 'call' %}
        <a href="tel:{{ action.phone }}" class="appertivo-cta-button call" target="_blank">Call Now</a>
      {% elif action.type == 'mobile_order' %}
        <a href="{{ action.url }}" class="appertivo-cta-button mobile_order" target="_blank">Mobile Order</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
