{% load static %}
<!DOCTYPE html>
<html lang="en"{% block html_attrs %}{% endblock %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Appertivo{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {% block head_scripts %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<style>
body {
  background-color: white;
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 24px 24px; /* bigger spacing feels less busy */
}

</style>
<body class="font-inter min-h-screen flex flex-col">
  {% block overlay %}{% endblock %}
  {% block header %}{% endblock %}
  <main class="{% block main_class %}flex-1{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  {% block footer %}{% endblock %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
