{% load static %}
<!DOCTYPE html>
<html lang="en"{% block html_attrs %}{% endblock %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>{% block title %}Appertivo{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {% block head_scripts %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<style>
</style>
<body class="font-inter min-h-screen flex flex-col bg-gradient-to-r from-[#F3E8FF] to-[#E6DAF5]">
  {% block overlay %}{% endblock %}
  {% block header %}{% endblock %}
  <main class="{% block main_class %}flex-1{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  {% block footer %}{% endblock %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
